# Write a program to fetch the item only within range between 50 to 70

In [24]:
lst = [34,67,55,33,12,98]
for i in lst:
    if(i>= 50 and i <=70):
        print(i)

67
55

# Write a program to print only String data type value from the given List

In [25]:
lst = ['abc', 100, 10.10, True, 'Babu']
for i in lst:
    if ('str' in str(type(i))):
        print(i)

abc
Babu

# Write a program to replace only String values as none.

In [26]:
lst = ['abc', 100, 10.10, True, 'Babu'] 
ls = []
for i in lst:
    if type(i) == type('str'):
        ls.append(None)
    else:
        ls.append(i)
print(ls)

[None, 100, 10.1, True, None]

# Write a program which accepts a sequence of comma-separated numbers from console and generate a list  and a tuple which contains every number.

In [27]:
input = 34,67,55,33,12,98
lst = list(input)
tpl = tuple(input)
print(lst)
print(tpl)

[34, 67, 55, 33, 12, 98]
(34, 67, 55, 33, 12, 98)

# With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [28]:
input =(1,2,3,4,5,6,7,8,9,10, 11)
a = input[:5]
b = input[5:]
print(a)
print(b)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10, 11)

# Write a program to generate and print another tuple whose values are even numbers in the given tuple

In [45]:
input  = (1,2,3,4,5,6,7,8,9,10)
a = list()
for i in input:
    if(i%2 ==0):
        a.append(i)
        print(i)

2
4
6
8
10